In [41]:
import pandas as pd
import numpy as np
import openpyxl as pyxl

In [42]:
df_viagem = pd.read_excel('TESTE_JABAQUARA.xlsx')

df_motoristas = pd.read_excel('BASE_MOTORISTAS_SIM.xlsx')

df_frete = pd.read_excel('TABELA_FRETE_HUBS.xlsx')

df_cadastro = pd.read_excel('BASE_CADASTRO_INTERNA.xlsx')

df_novabase = pd.merge(df_viagem , df_motoristas[['Id Pessoa', 'Nome Pessoa', 'CPF', 'MEI', 'NomeNivel']], left_on='idMotorista', right_on='Id Pessoa')

df_novabase1 = pd.merge(df_novabase , df_cadastro[['CPF', 'TIPO MOTORISTA' , 'TIPO DE VEÍCULO']], left_on='CPF', right_on='CPF')

df_consolidado = df_novabase1[['idViagem', 'dtViagem', 'idMotorista', 'NomeBase', 'Realizadas','Nome Pessoa', 'CPF', 'MEI','NomeNivel', 'TIPO MOTORISTA', 'TIPO DE VEÍCULO']]

display(df_consolidado)

'''df_teste = pd.merge(df_motoristas[['Id Pessoa', 'Nome Pessoa', 'CPF', 'MEI', 'NomeNivel']]
, df_cadastro[['CPF', 'TIPO MOTORISTA' , 'TIPO DE VEÍCULO']], left_on='CPF', right_on='CPF', how='left') '''

c:\Users\User\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,idViagem,dtViagem,idMotorista,NomeBase,Realizadas,Nome Pessoa,CPF,MEI,NomeNivel,TIPO MOTORISTA,TIPO DE VEÍCULO
0,404829,01/10/2022,34795,HUB JABAQUARA (S11),28,J&T PLATINUM-ADENILTON FERREIRA SILVA,40959676848,NaN,PLATINUM,AUTONOMO,MOTO
1,406920,03/10/2022,34795,HUB JABAQUARA (S11),35,J&T PLATINUM-ADENILTON FERREIRA SILVA,40959676848,NaN,PLATINUM,AUTONOMO,MOTO
2,409378,04/10/2022,34795,HUB JABAQUARA (S11),53,J&T PLATINUM-ADENILTON FERREIRA SILVA,40959676848,NaN,PLATINUM,AUTONOMO,MOTO
3,412178,05/10/2022,34795,HUB JABAQUARA (S11),41,J&T PLATINUM-ADENILTON FERREIRA SILVA,40959676848,NaN,PLATINUM,AUTONOMO,MOTO
4,414493,06/10/2022,34795,HUB JABAQUARA (S11),34,J&T PLATINUM-ADENILTON FERREIRA SILVA,40959676848,NaN,PLATINUM,AUTONOMO,MOTO
...,...,...,...,...,...,...,...,...,...,...,...
71,426425,12/10/2022,8540,HUB JABAQUARA (S11),39,J&T-MARIA DE FATIMA R N DUARTE,94769516800,NaN,SENIOR AREAS NOBRES,AUTONOMO,CARRO
72,426372,12/10/2022,8163,HUB JABAQUARA (S11),27,J&T-MATHEUS SANTANA SCARPILLE,38549150800,NaN,SENIOR AREAS NOBRES,AUTONOMO,MOTO
73,412267,05/10/2022,37734,HUB JABAQUARA (S11),79,J&T-SERGIO RODRIGUES JUNIOR,39701440862,4.721979e+13,NOVO,AUTONOMO,MOTO
74,407115,03/10/2022,8582,HUB JABAQUARA (S11),55,J&T-WILLIAN RIBEIRO DA SILVA,35073776836,NaN,SENIOR AREAS NOBRES,AUTONOMO,MOTO
75,409429,04/10/2022,8582,HUB JABAQUARA (S11),58,J&T-WILLIAN RIBEIRO DA SILVA,35073776836,NaN,SENIOR AREAS NOBRES,AUTONOMO,MOTO

"df_teste = pd.merge(df_motoristas[['Id Pessoa', 'Nome Pessoa', 'CPF', 'MEI', 'NomeNivel']]\n, df_cadastro[['CPF', 'TIPO MOTORISTA' , 'TIPO DE VEÍCULO']], left_on='CPF', right_on='CPF', how='left') "

In [43]:
filename = 'TESTE_JABAQUARA.XLSX'
workbook = pyxl.load_workbook(filename)
workbook.worksheets

worksheet = workbook['Planilha1']

print (worksheet['G2'].value)

HUB JABAQUARA (S11)